a {
    text-decoration: none;
}

/* Global css */
a.dx-link-delete {
    color: #b00020 !important;
}

a.dx-link-edit {
    color: #0146a6 !important;
}

.dx-widget[aria-label="Save"],
.dx-popup .dx-toolbar-center .dx-dialog-button[aria-label="Yes"] {
    background-color: #012a64;
    color: #fff;
}

.v-card-title {
    padding-top: 0;
    text-transform: capitalize;
}

.w_90 {
    max-width: 90%;
}

.v-btn {
    text-transform: capitalize;
}

.btn_cancel,
.dx-button[aria-label="Cancel"],
.dx-popup .dx-toolbar-center .dx-dialog-button[aria-label="No"] {
    background-color: #ff000026;
    color: #ff0000;
}

.swal2-cancel {
    background-color: #ff000026 !important;
    color: #ff0000 !important;
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #012a64;
}

.text_color {
    color: #0146a6;
}

.btn_cts {
    background-color: #0146a6;
    color: #fff;
    text-transform: capitalize;
}

.swal2-confirm {
    background-color: #0146a6 !important;
    color: #fff !important;
    text-transform: capitalize;
}

.fs_20 {
    font-size: 20px;
}

.fs_25 {
    font-size: 25px;
}

.fs_30 {
    font-size: 30px;
}

.fs_35 {
    font-size: 35px;
}

ul {
    list-style: none;
}

button.b_string_btn {
    font-size: 15px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    background-color: #0146a6;
    color: #fff;
    margin: 0 auto;
    display: table;
    padding: 2px 35px;
    text-transform: capitalize;
}

/* Hello World Pushap */



/* home page banner section  */

.home_page {
    position: relative;
}

.banner_st {
    width: 90%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
}

.banner_st .v-row {
    height: 100%;
    display: flex;
    align-content: center;
}

.banner_st .banner_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.banner_right {
    width: 47%;
    position: absolute;
    display: flex;
    right: 2%;
    top: 50%;
    margin-top: -325px;
    z-index: 0;
}

.banner_st h3 {
    font-size: 40px;
    line-height: 60px;
    color: #202124;
    font-weight: 500;
    margin-bottom: 25px;
}

.banner_st h3 span.colored {
    color: #0146a6;
}

.banner_st .text {
    font-size: 17px;
    color: #696969;
    line-height: 25px;
    margin: 15px 0px;
}

form.job_search_form {
    background: #fff;
    padding: 7px 10px;
    border-radius: 15px;
}

form.job_search_form .v-field__overlay {
    background: transparent;
}

form.job_search_form .btn_search {
    width: 100%;
    min-width: auto;
    color: #fff;
    background-color: #0146a6;
    padding: 10px 0;
    text-align: center;
    text-decoration: unset;
    border-bottom: 15px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 16px;
}

form.job_search_form .v-sheet {
    position: relative;
}

form.job_search_form p.line {
    width: 1px;
    background: #bfbfbf;
    margin: 0 10px;
}

.popular_searches {
    margin-top: 15px;
}

.popular_searches a {
    color: #696969;
}

.banner_right .bnt_img img {
    border-top-left-radius: 40%;
    border-top-right-radius: 34%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 24%;
}

form.job_search_form .v-input__details {
    position: absolute;
    width: 100%;
    bottom: -12px;
}

form.job_search_form .v-input__control .v-field__outline {
    display: none;
}

.recent_news_col .v-card {
    padding: 10px;
    border-radius: 15px;
}

.recent_news_col .v-img {
    border-radius: 15px;
}

.recent_news_col .v-img img.v-img__img {
    transition: all .3s ease;
}

.recent_news_col:hover .v-img img.v-img__img {
    transform: scale(1.1);
}

.recent_news_col .v-card .v-card-text span.read-more {
    display: table;
    margin-top: 15px;
    font-weight: 500;
}

.recent_news_col .v-card .v-card-text span.read-more:hover i.mdi {
    opacity: 0;
    margin-left: 20px;
}

.recent_news_col .v-card .v-card-text span.read-more i.mdi {
    transition: all .3s ease;
}

/* // Popular Job Categories only */
.popular_job_categories {
    padding: 50px 0 45px;
}

.popular_job_categories .sec-title {
    margin-bottom: 50px;
}

.popular_job_categories .sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.2em;
    color: #202124;
    font-weight: 500;
}

.popular_job_categories .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}

.popular_job_categories .v-card {
    padding: 15px;
    width: 100%;
    box-shadow: unset;
    border: 1px solid #ecedf2;
    border-radius: 10px;
}

.category-block .inner-box:hover {
    box-shadow: 0 7px 18px rgba(64, 79, 104, .05);
}

.popular_job_categories .v-card .v-list-item__spacer {
    display: none;
}

.popular_job_categories .popular_col .v-card-item__prepend {
    background: #ecedf2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0146a6;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
}

.popular_job_categories .popular_col:hover .v-card-item__prepend {
    background: #1967db;
    color: #ecedf2;
}

.popular_job_categories .popular_col .v-card-title {
    font-size: 18px;
    color: #202124;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 4px;
}

.popular_job_categories .popular_col:hover .v-card-title {
    color: #1967db;
}



/* // featured jobs only */
.featured_jobs {
    padding: 0 0 65px 0;
}

.featured_jobs .sec-title {
    margin-bottom: 50px;
}

.featured_jobs .sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.2em;
    color: #202124;
    font-weight: 500;
}

.featured_jobs .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}

.featured_jobs a.load_more {
    height: 100% !important;
    margin-top: 25px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #0146a6;
    font-size: 15px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 18px 35px 15px;
}

.featured_jobs .company_info {
    padding: 15px;
    width: 100%;
    display: flex;
}

.company_logo,
.company_logo .v-responsive {
    width: 60px;
    height: 100%;
}

.featured_jobs .company_info .company_logo {
    height: unset !important;
}

.company_logo img {
    display: block !important;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
}

.job_info .v-card-title {
    padding-top: 0;
}

.job_info ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 13px;
    text-transform: capitalize;
}

.job_info ul li {
    font-size: 16px;
}

.job_info ul li i {
    font-size: 19px;
}

.job_info ul.company_time {
    margin-top: 8px;
}

.job_info ul.company_time li {
    position: relative;
    font-size: 13px;
    line-height: 15px;
    margin-right: 15px;
    padding: 5px 20px;
    border-radius: 50px;
    margin-bottom: 10px;
    background: rgba(25, 103, 210, 0.15);
    color: #1967db;
}

.job_info ul.company_time li:nth-child(2) {
    background: #93faae94;
    color: #00701e;
}

.job_info ul.company_time li:nth-child(3) {
    background: #fddb91;
    color: #ffae00;
}

a.bookmark_fr {
    position: absolute;
    top: 5%;
    right: 0%;
}

.job_info .v-card-title a {
    color: #202124;
    text-decoration: unset;
}

.v-card.job_info {
    box-shadow: unset;
}


/* // Millions of Jobs*/
.millions_of_jobs {
    background: #fff;
    padding-bottom: 55px;
}

.millions_of_jobs .sec-title {
    margin-bottom: 30px;
}

.millions_of_jobs .sec-title h2 {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2em;
    color: #202124;
}

.millions_of_jobs .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}

.millions_of_jobs ul.list-style-one li {
    position: relative;
    font-size: 15px;
    line-height: 26px;
    color: #202124;
    font-weight: 400;
    cursor: default;
    margin-bottom: 20px;
}

.millions_of_jobs a.theme-btn {
    font-size: 15px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 10px 25px;
    background-color: #0146a6;
    text-decoration: unset;
    display: table;
    color: #fff;
}


/* about us page  */
.how_it_works .v-card-item,
.how_it_works .v-card-text {
    text-align: center;
}

.search_and_apply {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    gap: 20px;
    margin-top: 3%;
}

.search_and_apply a {
    font-size: 17px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 12px 20px;
    background-color: #0146a6;
    text-decoration: unset;
    display: table;
    color: #fff;
    text-transform: capitalize;
}

.search_and_apply a.load_more:nth-child(2) {
    background-color: #f9ab00;
}

.your_dream_jobs {
    background-image: url(/assest/img/about/1.jpg);
    color: #fff;
    padding: 5% 0;
}

.about_us_page .about_superio .v-card-title {
    font-weight: 500;
    font-size: 40px;
    color: #202124;
    margin-top: 15px;
}

.about_us_page .about_superio p {
    margin-top: 15px;
}

.about_superio .v-card {
    box-shadow: none !important;
    background-color: transparent;
}

.v-breadcrumbs {
    justify-content: center;
    text-transform: uppercase;
}

.recent_news_articles.how_it_works .v-card .v-img {
    width: 50px;
    height: 50px;
    margin: 25px auto;
}

/* about us page end */

/* company form  */
form.form_fild_com {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

button.form_fild_btn,
.form_fild_btn {
    color: #fff;
    background-color: #0146a6;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 400;
    padding: 13px 32px;
    height: 100% !important;
    text-transform: capitalize;
}

.find_Job_list_left .search_company_post {
    width: 100%;
    min-width: auto;
    color: #fff;
    background-color: #0146a6;
    padding: 10px 0;
    text-align: center;
    text-decoration: unset;
    border-bottom: 15px;
}




/* company form end */

/* footer css only  */
footer.v-footer {
    padding: 40px 0;
    background-image: url(https://superio-appdir.vercel.app/_next/static/media/6.0ca96815.png);
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}


/* admin css*/
/* // recent_news_articlesonly */

.recent_news_articles .sec-title h2 {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2em;
    color: #202124;
}

.recent_news_articles .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}



.Cmt_time {
    display: flex;
}

/* find_Job_list_left */

.find_Job_list_left {
    position: relative;
    margin-bottom: 30px;
    box-sizing: unset !important;
}

.find_Job_list .top_page_section {
    background: transparent;
    box-shadow: unset;
    display: flex;
    justify-content: center;
}

.find_Job_list .top_page_section .v-card-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #202124;
}

.find_Job_list .body_page_section {
    background: #fff;
    padding: 50px 0 50px;
}

.find_Job_list_right .custom-card {
    padding: 2% 1%;
    background: #fff;
    border: 1px solid #ecedf2;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.find_Job_list_right .v-card-title {
    font-size: 30px;
    font-weight: bolder;
    color: #202124;
    font-family: sans-serif;
    text-transform: capitalize;
}

.find_Job_list_right .custom-card:hover .v-card-title {
    color: #0146a6;
}

.single_job_search_page {
    width: 70% !important;
}

.compamy_infor .compamy_infor_left i.mdi {
    margin-right: 5px;
}

.compamy_infor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #ecedf2;
    padding: 1% 15px;
    align-items: center;
}

button.apply_for_job {
    text-align: center;
    color: #fff;
    background-color: #0146a6;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 400;
    padding: 11px 28px;
    height: 43px !important;
}

button.save_btn {
    height: 43px !important;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: #0146a6;
    border-radius: 7px;
    background: #0146a612;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.compamy_infor_description {
    width: 90%;
    margin: 2% auto;
}

.find_Job_list_left button.search_btn {
    display: table;
    margin: 0 auto;
    color: #fff;
    background-color: #0146a6;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 400;
    padding: 18px 35px;
    height: 50px !important;
}

.compamy_infor_description {
    width: 90%;
    margin: 2% auto;
}

.company_information .v-list-item .v-list-item__prepend .v-card-text {
    font-weight: 600;
    font-size: 18px;
}

.company_information .v-list-item .v-list-item__append .v-card-text {
    text-transform: capitalize;
}

/* find_Job_list_left end */


/* // featured jobs only */
.job_alerts {
    padding: 65px 0 85px;
}

.job_alerts .sec-title {
    margin-bottom: 50px;
}

.job_alerts .sec-title h2 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #202124;
    font-weight: 500;
}

.job_alerts .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}

.job_alerts a.load_more {
    font-size: 19px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 15px 28px;
    background-color: #0146a6;
    text-decoration: unset;
    display: table;
    color: #fff;
}

.job_alerts .company_info {
    padding: 15px;
    width: 100%;
    display: flex;
}


.job_alerts_table button.v-btn {
    background: #0146a612;
    border-radius: 8px;
    font-size: 16px;
    color: #0146a6;
    text-align: center;
    transition: all 0.3s ease;
}

.job_alerts_table .form_fild_btn {
    margin-top: 15px;
}

/* // job applied only */
.job_applied_body_page_section {
    background: #fff;
    padding: 50px 0 100px;
}

.job-applied .sec-title {
    padding: 50px 0;
    background-color: #f5f7fc;
}

.job-applied .sec-title h2 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #202124;
    font-weight: 500;
}

.job-applied .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}

.job-applied a.load_more {
    font-size: 19px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 15px 28px;
    background-color: #0146a6;
    text-decoration: unset;
    display: table;
    color: #fff;
}

.job-applied .company_info {
    padding: 15px;
    width: 100%;
    display: flex;
    background: #fff;
}

.job_info .v-card-title {
    padding-top: 0;
}

.bookmark_fr {
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 25px;
}

.job_info .v-card-title a {
    color: #202124;
    text-decoration: unset;
}

.job_applied_body_page_section .company_info .v-card-actions {
    position: absolute;
    right: 0;
    top: 0;
}

/* // save Jobs only */
.save_job_body_page_section {
    background: #fff;
    padding: 50px 0 50px;
}

.save_Jobs .sec-title {
    padding: 50px 0;
    background-color: #f5f7fc;
}

.save_Jobs .sec-title h2 {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #202124;
    font-weight: 500;
}

.save_Jobs .sec-title .text {
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
}

.save_Jobs a.load_more {
    font-size: 19px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 15px 28px;
    background-color: #0146a6;
    text-decoration: unset;
    display: table;
    color: #fff;
}

.save_Jobs .company_info {
    padding: 15px;
    width: 100%;
    display: flex;
    background: #fff;
}

.job_info .v-card-title {
    padding-top: 0;
}

.job_info .v-card-title a {
    color: #202124;
    text-decoration: unset;
}

.save_job_body_page_section .company_info .v-card-actions button.v-btn {
    color: #fff;
    background-color: #0146a6;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 400;
    height: 40px !important;
    padding: 5px 11px;
    margin-right: 5px;
}

.employers_search_single_top,
.employers_search_single_body {
    background: #fff;
}

.employers_search_single_body .employers_search_single_right .v-card-item .v-list-item .v-list-item__append .v-card-text {
    padding-top: 0;
}

.employers_search_single_right {
    background: #f5f7fc;
    border-radius: 15px;
}

.employers_search_col .company_info .job_info a {
    font-weight: 600;
    text-transform: capitalize;
}

/* Fill your Personal Details */

.achiev_work_exp {
    padding: 25px;
    border: 1px solid #0000001f;
    margin: 23px;
    position: relative;
}

.button_plus_delete {
    position: absolute;
    right: 3px;
    top: 3px;
}

.button_plus_delete button.v-btn {
    width: 25px;
    min-width: 25px;
    height: 25px !important;
}

.search_and_apply a.load_more:nth-child(1) {
    background-color: #ffffff;
    color: #0146a6;
}

.about_superio {
    background-color: #fff;
}

.your_dream_jobs h2 {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2em;
    color: #ffffff;
}

.nab_burger_menu .nav-linksa.nav-link {
    border-bottom: 3px solid transparent;
}

.nab_burger_menu .nav-links a.nav-link:hover {
    border-bottom: 3px solid #0146a6;
}

.line {
    display: none;
}

section.contact_us_page .form_contact {
    border: 1px solid #ecedf2;
    border-radius: 8px;
    padding: 35px 35px;
    margin: 20px;
}

.contact_page_us {
    background-color: #fff;
}

/* single blog page   */

.single_blog_page .v-card-item .sec-title {
    font-size: 30px;
}

/* Home page */
.recent_news_articles .sec-title {
    margin-bottom: 50px;
}

.about_us_page .recent_news_articles .sec-title {
    margin-bottom: 50px;
    margin-top: 50px;
}

/* form login  */

.form_login_el_cd {
    margin-top: 0%;
}

.v-stepper-item__avatar.v-avatar .v-icon {
    top: -4px;
}

.find_Job_list .find_Job_list_left {
    border-radius: 15px;
}

button.load_more {
    text-transform: capitalize;
}

main.v-main .no_job_found {
    background-color: #f0dedd !important;
    color: #000 !important;
    display: flex;
    text-transform: capitalize;
}

.brand_Logo .v-slide-group__container .v-slide-group__content {
    justify-content: center;
    align-items: center;
}

.site_title h2 {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2em;
    color: #202124;
}

.load_more_div {
    width: 100%;
    text-align: center;
}

.fill_your_personal_details .v-stepper-header button.v-stepper-item .v-avatar {
    background-color: #0146a6;
}

.fill_your_personal_details .v-stepper-header button.v-stepper-item .v-stepper-item__title {
    color: #0146a6;
}


.personal_details_btn button.v-btn--variant-tonal {
    background-color: #0146a6;
    color: #fff !important;
}

.button_plus_delete button.bg-blue {
    background-color: #0146a6 !important;
    margin-left: 3px;
}

.personal_details_btn button.v-btn--variant-text {
    color: #205db1;
    background-color: #e2eaf8;
}

.fill_your_personal_details button.bg-blue {
    background-color: #0146a6 !important;
}

.vue_date_picker_ct .dp__input_wrap input.dp__pointer {
    height: 56px;
}

.dx-datagrid .dx-link {
    color: #0146a6;
}

.single_blog_page .blog_img .v-img__img--cover {
    object-fit: unset;
}

.find_Job_list .find_Job_list_left {
    border-radius: 15px;
    height: 100%;
    background-color: #ecedf2;
}








/* responsive start  only */
@media screen and (min-width: 1200px) {
    .line {
        display: block;
    }

    .job_search_forms {
        position: relative;
        padding: 10px 15px;
        box-shadow: 0 7px 18px rgba(64, 79, 104, .05);
    }

    .job_search_forms .line {
        width: 1px;
        background-color: #999393;
        height: 49px;
    }

    .job_search_forms .v-locale--is-ltr {
        box-shadow: unset;
    }

    .job_search_forms .v-input__details {
        position: absolute;
        bottom: 8px;
    }
}

@media screen and (min-width: 960px) {
    section.contact_us_page .content {

        width: 100%;
        left: 0;
        top: -240px;
        background-color: #fff;
    }

}



@media screen and (max-width: 1400px) {
    .banner_right {
        margin-top: -242px;
    }

    .banner_st h3 {
        font-size: 30px;
        margin-bottom: 0;
    }
}


@media screen and (max-width: 1300px) {
    .banner_st h3 {
        font-size: 40px;
    }

    .find_Job_list_left {
        padding: 4%;
    }

    .find_Job_list .body_page_section {
        padding: 45px 0 0;
    }

    .footer_col {
        margin-bottom: 30px;
    }

    .single_blog_page .v-card-item .sec-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .popular_job_categories {
        padding: 67px 0 0;
    }

    .popular_job_categories .sec-title h2 {
        font-size: 25px;
        line-height: 20px;
    }

    .featured_jobs {
        padding: 10px 0 40px;
    }

    .featured_jobs a.load_more,
    .millions_of_jobs a.theme-btn {
        height: 100%;
    }

    .millions_of_jobs .sec-title h2 {
        font-size: 30px;
    }

    .featured_jobs a.load_more {
        margin-top: 15px;
    }

    button.apply_for_job {
        font-size: 14px;
        padding: 0 14px;
        height: 42px !important;
    }

    button.save_btn {
        height: 40px !important;
        line-height: 40px;
        font-size: 15px;
        margin-left: 10px;
    }

    .find_Job_list_right .v-card-title {
        font-size: 25px;
    }


}



@media screen and (max-width: 961px) {

    .banner_st h3 {
        font-size: 25px;
    }

    .banner_right,
    .home_page .banner {
        display: none;
    }

    .banner_st {
        position: relative;
    }

    .banner_st h3 {
        font-size: 25px;
        line-height: 33px;
        margin-top: 35px;
    }

    form.job_search_form .v-col-12 {
        margin-bottom: 15px;
    }


    .w-75 {
        width: 100% !important;
    }

    .search_and_apply {
        margin-top: 3%;
        flex-direction: column;
        width: 271px;
        margin: 12px auto;
        gap: 15px;
    }

    .popular_job_categories .sec-title,
    .about_superio .v-card {
        margin-bottom: 0 !important;
    }

    .popular_job_categories {
        padding: 40px 0 0;
    }

    .search_and_apply a {
        font-size: 18px;
        line-height: 20px;
        padding: 10px 23px;
        height: 100% !important;
    }



    .popular_job_categories .popular_col,
    .featured_jobs .featured_jobs_col {
        margin-bottom: 0 !important;
    }

    .popular_job_categories {
        padding: 30px 0 0 0;
        background: #fff;
        margin-top: 30px;
    }

    .recent_news_articles .sec-title h2 {
        font-size: 35px;
    }

    footer.v-footer,
    .recent_news_articles {
        padding: 25px 0;
    }

    .millions_of_jobs {
        padding-bottom: 0;
        margin-bottom: 25px;
    }

    .millions_of_jobs .sec-title h2 {
        font-size: 25px;
    }

    .featured_jobs .sec-title {
        margin-bottom: 20px;
    }

    .single_job_search_page {
        width: 96% !important;
    }

    .compamy_infor {
        align-items: flex-start;
        flex-direction: column;
    }

    .find_Job_list .top_page_section {
        margin: 25px 0 !important;
    }

}

@media screen and (max-width: 961px) {
    .banner_st h3 {
        font-size: 20px;
    }
}